/* SearchBar.css */

.searchBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.inputWrapper {
  position: relative;
  width: 350px;
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 18px;
}

.searchInput {
  width: 100%;
  padding: 10px 16px 10px 40px;
  border: 1px solid #d1d5db;
  border-radius: 2px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

.searchInput:focus {
  border-color: #595a5c;
  box-shadow: 0 0 0 2px #c4cad1;
}