*{
background-color: #f3f4f6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  overflow-x: hidden;
}

.app{
  min-height: 100dvh;
  width: 100%;
}

body::-webkit-scrollbar{
  display: none; /* Chrome, Safari */
}
  